@import "normalize.css";
@import "syntax.css";
@import "icons.min.css";
@import "afontgarde.css";


/* Paul Irish's Universal border-box -- http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}


body {
    padding: 0;
    margin: 0;
}


/* BASE TYPOGRAPHY */

body {
    color: #101820; /* CFPB Black */
    font-family: Georgia, "Times New Roman", serif;
    line-height: 1.375;
    background-color: #FFF;

    /* Improve default text rendering, handling of kerning pairs and ligatures */
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    word-wrap: break-word;
    overflow-wrap: break-word; /* New CSS3 syntax supported by Chrome */
}

p,
blockquote,
q,
pre,
address,
hr,
code,
samp,
dl,
ol,
ul,
form,
table,
fieldset,
menu,
img,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 1.375em;
}

h1,
h2,
h3 {
    font-family: "Avenir Next W01", Arial, sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 2.125em;
    line-height: 1.23529411764706;
}
h2 {
    font-size: 1.625em;
    line-height: 1.23076923076923;
}
h3 {
    font-size: 1.375em;
    line-height: 1.27272727272727;
}

h4 {
    font-family: "Avenir Next W01", Arial, sans-serif;
    font-size: 1.125em;
    line-height: 1.22222222222222;
    font-weight: 500;
}

h5,
h6 {
    font-family: "Avenir Next W01", Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h5 {
    font-size: 0.875em;
    line-height: 1.57142857142857;
}
h6 {
    font-size: 0.75em;
    line-height: 1.83333333333333;
}


/* CODE */

pre {
    padding: 0.625em 1em;
    border: 1px solid #E3E4E5; /* Gray/20 */
    border-radius: 0.250em;
    margin-top: 1.375em;
    background-color: #F1F2F2; /* Gray/10 */
    color: #101820; /* CFPB Black */
    /* Allow line wrapping of 'pre' */
    overflow-x: auto;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

pre,
code,
kbd,
samp {
    margin-bottom: 1.375em;
    font-size: 1em;
    line-height: 1.375;
    font-family: Source Code Pro, Consolas, Monaco, 'Andale Mono', monospace, serif;
}


/* TABLES */

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1.375em;
}

th {
    text-align: left;
}

tr,
th,
td {
    padding-right: 1.375em;
    border-bottom: 0 solid #333;
}


/* FORMS */

form {
    margin: 0;
}

fieldset {
    padding: 0;
    border: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

legend {
    *margin-left: -0.75em;
}

button,
input,
select,
textarea {
    vertical-align: baseline;
    /* IE7 and older */
    *vertical-align: middle;
}

button,
input {
    line-height: normal;
    *overflow: visible;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}


/* QUOTES */

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

blockquote,
q,
cite {
    font-style: italic;
}

blockquote {
    padding-left: 1.5em;
    border-left: 5px solid #BABBBD;
    color: #75787B;
}

blockquote > p {
    padding: 0;
}


/* LISTS */

ul,
ol {
    padding: 0 0 0 2em;
}

dl dd {
    margin-left: 1.375em;
}

dt {
    font-weight: bold;
}

/* Unstyled nav lists */
.nav-list {
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}


/* HYPERLINKS */

a {
    border-bottom: 1px dotted #0072CE;
    color: #0072CE;
    text-decoration: none;
}

main p a:visited {
    border-bottom: 1px solid #005E5D;
    color: #005E5D;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid #7FB8E6;
    color: #7FB8E6;
    text-decoration: none;
}

a:focus {
    border-bottom: 1px solid #0072CE;
    outline: thin dotted;
    color: #0072CE;
    text-decoration: none;
}

a:active {
    border-bottom: 1px solid #002D72;
    color: #002D72;
    text-decoration: none;
}

a.home {
    color: #43484E;
    border: 0;
}
a.home:hover,
a.home:focus {
    color: #101820;
}


/* MEDIA */

figure {
    margin: 0;
}

img,
object,
embed,
video {
    /* Fluid images */
    max-width: 100%;
    _width: 100%;
}

img {
    border: 0;
    /* Improve IE's resizing of images */
    -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
    /* Correct IE9 overflow */
    overflow: hidden;
}


/* ABBREVIATION */

abbr[title],
dfn[title] {
    border-bottom: 1px dotted #333;
    cursor: help;
}


/* MARKED/INSERTED/DELETED AND SELECTED TEXT */

ins,
mark {
    text-decoration: none;
}

mark {
    background: #c47529;
}

ins {
    background: #d49855;
}

del {
    text-decoration: line-through;
}


/* SELECTED TEXT */

::-moz-selection,
::selection {
    background: #0072CE;
    color: #FFF;
    text-shadow: none;
}


/* OTHERS */

strong,
b,
dt {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

var,
address {
    font-style: normal;
}

sub,
sup {
    /* Position 'sub' and 'sup' without affecting line-height */
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

/* Move superscripted text up */
sub {
    /* Move subscripted text down */
    bottom: -0.25em;
}


/* MICRO CLEARFIX HACK */

.cf:before,
.cf:after {
    content: "";
    display: table;
}

/* For modern browsers */
.cf:after {
    clear: both;
}

.cf {
    /* For IE 6/7 (trigger hasLayout) */
    zoom: 1;
}


/* IMAGE REPLACEMENT */

.ir {
    border: 0;
    background-color: transparent;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
    overflow: hidden;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}


/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
    display: none !important;
    visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
    visibility: hidden;
}

/* Skip link */
.skip > a {
    padding: 0.5em;
    background-color: #0072CE;
    color: #FFF;
    font-family: "Avenir Next W01", Arial, sans-serif;
    font-weight: bold;
}


/* DEFAULT MOBILE STYLE */

.wrap {
    width: 90%;
    margin: 0 auto;
}

.header {
    border-bottom: 4px solid #2CB34A;
    overflow: auto;
}

.header .logo {
    display: block;
    margin: 1em 0;
}

.header h1 {
    margin: 1em 0 0 0;
    font-family: "Avenir Next W01", Arial, sans-serif;
    font-size: 1.625em;
    font-weight: 500;
    display: inline-block;
}

.header h1 span {
    font-family: "Avenir Next W01", Arial, sans-serif;
    font-weight: bold;
}

.content-body {
    margin: 1em 5%;
}

.hero {
    background: #DBEDD4;
    font-family: "Avenir Next W01", Arial, sans-serif;
}
.hero section {
    padding: 1.5em 0;
}
.hero p {
    margin-bottom: 1.5em;
    font-size: 1.125em;
    line-height: 1.5;
}

[class*="call-to-action"] {
    font-family: "Avenir Next W01", Arial, sans-serif;
    font-weight: 400;
}
.call-to-action__icon,
.call-to-action__icon:visited,
.call-to-action__icon:hover,
.call-to-action__icon:focus,
.call-to-action__icon:active {
    border-bottom-width: 0;
}
.icon-external-link {
    color: #0072CE;
}
.call-to-action__icon > [class^="icon"],
.sidebar_list_item_head > [class^="icon"] {
    padding-left: .25em;
}

.intro h1 {
    margin-bottom: 0.79411764705882em; /* 27/34 */
    font-family: "Avenir Next W01", Arial, sans-serif;
    font-weight: 500;
    line-height: 1;
}
.intro a,
.content-header a {
    color: #002D72;
    border-bottom-color: #002D72;
}
.intro a:hover,
.content-header a:hover {
    color: #0072CE;
    border-bottom-color: #0072CE;
}
.intro .learn-more {
    margin: 0; padding: 0;
    list-style: none;
}

.sidebar_list {
    
}
.sidebar_list .author {
    font-family: "Avenir Next W01", Arial, sans-serif;
    font-weight: 400;
}
.sidebar_list_item {
    margin-bottom: 1.5em;
}
.sidebar_head {
    padding-bottom: 0.25em;
    border-bottom: 1px solid #BABBBD;
    margin-bottom: 1.25em;
    color: #75787B;
    font-family: "Avenir Next W01", Arial, sans-serif;
    font-size: 1.125em;
    line-height: 1.22222222222222;
    font-weight: 500;
    text-transform: uppercase;
}
.sidebar_list_item_head {
    margin-bottom: 0.5em;
    font-family: "Avenir Next W01", Arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
}

.featured-projects {
    padding: 1em 0;
    background: #F8F8F8;
}
.featured-project {
    margin: 2em 0;
    text-align: center;
}
[class*="featured-project_img"] {
    width: 150px;
    height: 150px;
    border: 1px solid #ADDC91;
    border-radius: 100%;
    margin: 0 auto 2em;
}
.featured-project_img__pdp {
    background: url(../img/feature_pdp_150x150.png) no-repeat;
}
.featured-project_img__eregs {
    background: url(../img/feature_eregs_150x150.png) no-repeat;
}
.featured-project_img__collab {
    background: url(../img/feature_collab_150x150.png) no-repeat;
}
.featured-project_head {
    margin-bottom: .75em;
    font-family: "Avenir Next W01", Arial, sans-serif;
}

.section-head {
    padding: 0 0 0.5em;
    border-bottom: 1px solid #D0D0CE;
    margin: 1.5em 0 1em;
    font-family: "Avenir Next W01", Arial, sans-serif;
/*    font-size: 2.125em;*/
    line-height: 1;
    font-weight: 400;
}

.entry_title,
.repo_name {
    font-family: "Avenir Next W01", Arial, sans-serif;
    font-weight: 400;
}
.entry_title {
    margin-bottom: 0.25em;
/*    font-size: 1.625em;
*/}
.entry_tagline {
    margin-bottom: 1em;
    font-family: "Avenir Next W01", Arial, sans-serif;
    font-size: 1.125em;
    line-height: 1.22222222222222;
}
.entry_description {
    margin-bottom: 0;
}
.entry_meta {
    font-family: "Avenir Next W01", Arial, sans-serif;
    font-weight: 400;
}
.entry_meta time {
    color: #919395; /* Gray/80 */
    font-family: "Avenir Next W01", Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.tags_head {
    float: left;
    font-size: 1em;
    line-height: 1.375em;
}
.tag {
    display: inline-block;
    margin-left: 1em;
    color: #FFB149; /* Gold/80 */
    font-family: "Avenir Next W01", Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.57142857142857; /* 22/14 */
    font-weight: bold;
    text-transform: uppercase;
}
.tag:before {
    content: "•";
}
.tag_link,
.tag_link:hover {
    color: #75787B;
    border-bottom: 1px solid #FFB149;
}

.entry_read-more-link {
    margin-bottom: 2em;
}

.repos {
    margin-bottom: 2em;
}
.repo h3 {
    margin-bottom: 1em;
    line-height: 1;
}
.entry p {
    max-width: 40em;
}
.repositories {
    margin-bottom: 3em;
}
.repo p {
    max-width: 30em;
}
.more-repos .sidebar_head {
    margin-top: 0;
}
.more-repos li {
    margin: 0;
}
.footer {
    padding: 2em 0;
    border-top: 2px solid #BABBBD;
    background: #F1F2F2;
    font-family: "Avenir Next W01", Arial, sans-serif;
}
.footer-links ul {
    list-style: none;
}
.footer-links_primary a {
    border-bottom-color: #101820;
    margin-bottom: 1em;
    color: #101820;
    font-family: "Avenir Next W01", Arial, sans-serif;
    font-size: 1.125em;
    line-height: 1;
    font-weight: 500;
}
.footer-links_secondary a {
    border-bottom-color: #75787B;
    color: #75787B;
    font-family: "Avenir Next W01", Arial, sans-serif;
    font-weight: 400;
}
.footer-links_social li {
    float: left;
    margin-left: 0.5em;
}

.footer-links_social a {
    border-bottom-width: 0;
    color: #101820;
    font-size: 1.625em;
    line-height: 1;
}
.footer h4 {
    margin-bottom: 1em;
    font-family: "Avenir Next W01", Arial, sans-serif;
    font-size: 1.125em;
    line-height: 1;
    font-weight: 500;
}
.footer p {

}


/* SINGLE ENTRY POSTS */

.entry__single {
    margin-top: 2em;
}
.entry__single h1.entry_title{
    font-family: "Avenir Next W01", Arial, sans-serif;
    font-weight: 500;
    margin-bottom: .125em;
}
.entry__single .entry_tagline {
    font-family: "Avenir Next W01", Arial, sans-serif;
    font-size: 1.625em;
    line-height: 1.23076923076923;
    font-weight: normal;
}
.entry__single .entry_meta {
    margin-bottom: 2em;
}
#disqus_thread {
    padding-top: 1em;
    border-top: 1px solid #BABBBD;
    margin-top: 3em;
}
.comment-policy {
    color: #75787B;
    font-size: 0.8125em;
    font-style: italic;
}



/* MEDIA QUERIES */

/* MOBILE PORTRAIT (320px) */
@media only screen and (min-width: 20em) {
    body {
    }
    .header .logo {
        margin: 1em 0 0 0;
    }
    .header h1 {
        margin-bottom: .5em;
    }
    .entry__single h2 {
        font-size: 1.375em;
        line-height: 1.27272727272727;
        margin: 1.5em 0 1em 0;
    }
    .sidebar_head {
        margin-top: 2em;
    }
}

/* MOBILE LANDSCAPE (480px) */
@media only screen and (min-width: 30em) {
    .header .logo {
        margin: 1em 0;
        float: right;
    }
/*    .header h1 {
        margin-top: 0.75em;
        float: left;
        font-size: 2.125em;
    }*/

    .learn-more_item {
        float: left;
        margin-left: 2em;
    }
    .learn-more_item:first-child {
        margin-left: 0;
    }
    .sidebar_head {
        margin-top: 0;
    }
}

/* SMALL TABLET (600px) */
@media only screen and (min-width: 37.5em) {
    .content-body {
        margin: 2em 5%;
    }
    .featured-projects {
        padding: 2em 0;
    }
    .featured-project {
        display: inline-block;
        width: 50%;
        padding: 0 1em;
        margin: 0 -0.26em 0 0;
        vertical-align: top;
    }
    .repos {
        margin: 0 -1em 2em;
    }
    .repo {
        display: inline-block;
        width: 48%;
        padding: 0;
        margin: 0 -0.26em 1em 0;
        vertical-align: top;
    }
    .repo:nth-of-type(even) {
        margin-left: 4%;
    }
    .view-all-repos {
        margin-left: 1em;
    }
}

/* TABLET/NETBOOK (768px) */
@media only screen and (min-width: 48em) { 
    .intro,
    .featured-entries,
    .repos,
    .entry__single,
    .sidebar,
    .footer-links,
    .footer-oss {
        display: inline-block;
        padding: 0;
        margin: 0 -0.26em 1em 0;
        vertical-align: top;
    }
    .intro,
    .featured-entries,
    .repos,
    .entry__single {
        width: 73%;
    }

    .hero section {
        padding: 2em 0;
    }
/*    .intro h1 {
        font-size: 1.75em;
    }*/
    
    .sidebar {
        width: 23%;
        margin-left: 4%;
    }
    .sidebar_head {
        line-height: 1.77777777777778; /* 32/18 - aligns baseline with article title */
    }

    .hero .sidebar_head {
        line-height: 2.333333333; /* 42/18 */
    }

    /*.content-body {
        display: table;
        width: 100%;
        margin: 0;
    }
    .entry__single,
    .sidebar__single {
        display: table-cell;
        height: auto;
        padding: 2em 2em 2em 5%;
        border: none;
        margin: 0;
    }
    .entry__single {
        width: 75%;
    }
    .sidebar__single {
        width: 25%;
        padding: 2em 5% 2em 2em;
        background: #F8F8F8;
    }
    .entry__single_wrap {
        width: 100%;
        max-width: 868px;
        float: right;
    }
    .sidebar__single_wrap {
        width: 100%;
        max-width: 268px;
        float: left;
    }*/

    .content {
        overflow: hidden;
    }
    .content-body {
        position: relative;
        margin: 0 auto;
    }
    .entry__single {
        width: 67%;
        padding: 2em 2em 2em 0;
    }
    .entry__single p {
        max-width: 40em;
    }
    .sidebar__single {
        width: 33%;
        padding: 2em 0 2em 2em;
        margin-left: 0;
        background: #F8F8F8;
    }
    .content-body:after {
        content: '';
        display: block;
        width: 9999px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 67%;
        z-index: -1;
        background: #F8F8F8;
    }
    .entry__single .entry_title {
        font-size: 2.125em;
    }
    .entry p {
        line-height: 1.625;
    }
    .footer-links {
        width: 45%;
    }
    .footer-oss {
        width: 50%;
        margin-left: 5%;
    }
}

/* LANDSCAPE TABLET/NETBOOK/LAPTOP (1024px) */
@media only screen and (min-width: 64em) { 
    /*.content {
        overflow: hidden;
    }*/
    /*.wrap {
        max-width: 960px;
    }*/

    .hero {
        position: relative;
    }

/*    .intro h1 {
        font-size: 2.375em;
    }*/
    
    .featured-project {
        width: 33.333333333%;
    }

    .footer-links li {
        float: left;
        margin-left: 1em;
    }
    .footer-links li:first-child {
        margin-left: 0;
    }
}

/* DESKTOP (1200px) */
@media only screen and (min-width: 75em) { 
    .wrap {
        max-width: 1200px;
    }
/*    .intro h1 {
        font-size: 2.625em;
    }*/
    .repo {
        width: 31%;
        margin-left: 3.5%;
    }
    .repo:nth-of-type(even) {
        margin-left: 3.5%;
    }
    .repo:nth-of-type(3n+1) {
        margin-left: 0;
    }
}

/* WIDESCREEN */
@media only screen and (min-width: 87.5em) { 
    /*body { font-size: 1.125em; }*/
}


/* Fancy OL styling for the Source Code Policy */
li ol {
    counter-reset: list;
}
ol > li {
    list-style: decimal;
    text-transform: uppercase;
}
ol ol > li {
    list-style: none;
    position: relative;
    text-transform: none;
}
ol ol > li:before {
    counter-increment: list;
    content: counter(list, lower-alpha) ") ";
    position: absolute;
    left: -1.4em;
}
ol ol ol > li:before {
    content: none;
}
ol ol ol > li {
    list-style-type: lower-alpha;
}
ol ol ol ol > li {
    list-style-type: lower-roman;
}
    
/* PRINT */
@media print {
  * {background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important} /* Black prints faster */
  a, a:visited {color: #444 !important; text-decoration: underline}
  a[href]:after {content: " (" attr(href) ")"}
  abbr[title]:after {content: " (" attr(title) ")"}
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {content: ""}  /* Don't print links for images, javascript or internal links */
  pre, blockquote {border: 1px solid #999; page-break-inside: avoid; }
  thead {display: table-header-group; } /* Repeat header row at top of each printed page */
  tr, img {page-break-inside: avoid; }
  img {max-width: 100% !important; }
  @page {margin: 0.5cm}
  p, h2, h3 {orphans: 3; widows: 3}
  h2, h3{page-break-after: avoid}
}
