---
layout: default
title: Data
---


            <section class="hero">
                <div class="wrap">
                    <section class="intro">
                        <h1>We'd like to share our work with you</h1>
                        <p>The Consumer Financial Protection Bureau is a federal agency dedicated to ensuring that
                            markets for consumer financial products and services are fair, transparent, and
                            competitive. To support this mission, technologists at the CFPB build external
                            resources for the public and internal tools to help the Bureau run more efficiently.
                        </p>
                        <ul class="learn-more">
                            <li class="learn-more_item">
                                <a class="call-to-action" href="articles/introducing-cfpb-open-tech/">
                                    Learn more
                                </a>
                            </li>
                            <li class="learn-more_item">
                                <a class="call-to-action"
                                   href="source-code-policy/">
                                    View our Source Code Policy
                                </a>
                            </li>
                        </ul>
                    </section>

                    <section class="sidebar off-the-press">
                        <h2 class="sidebar_head">Off the press</h2>
                        <ul class="sidebar_list nav-list">
                        {% for post in site.posts limit:2 %}
                            <li class="sidebar_list_item">
                                <h3 class="sidebar_list_item_head">
                                {% if post.external-url %}
                                    <a href="{{ post.external-url }}">
                                {% else %}
                                    <a href="{{ post.url | remove_first:'/' }}/">
                                {% endif %}
                                        {{ post.title }}
                                    </a>
                                </h3>
                                
                                <div class="sidebar_list_item_meta entry_meta">
                                    {% if post.author %}
                                    By <span class="author">{{ post.author }}</span> &ndash;
                                    {% endif %}

                                    {% if post.date %}
                                    <time datetime="{{ post.date | date: '%b %d, %Y' }}">
                                        {{ post.date | date: '%b %d, %Y' }}
                                    </time>
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                        </ul>
                    </section>
                </div>
            </section> <!-- /.hero -->

            <section class="featured-projects">
                <ul class="wrap nav-list">
                    <li class="featured-project">
                        <div class="featured-project_img__eregs"></div>
                        <h3 class="featured-project_head">
                            <a href="http://gsa.github.io/data">Data</a>
                        </h3>
                        <p class="featured-project_desc">Download bulk data from across GSA's components.</p>
                    </li>
                    <li class="featured-project">
                        <div class="featured-project_img__pdp"></div>
                        <h3 class="featured-project_head">
                            <a href="http://gsa.github.io/developer">APIs</a>
                        </h3>
                        <p class="featured-project_desc">Learn how to access GSA data via dynamic web services.</p>
                    </li>
                    <li class="featured-project">
                        <div class="featured-project_img__collab"></div>
                        <h3 class="featured-project_head">
                            <a href="https://www.github.com/gsa">Code</a>
                        </h3>
                        <p class="featured-project_desc">Check out the latest open source code projects from GSA teams.</p>
                    </li>
                </ul>
            </section>

            <section class="articles wrap">
                <h2 class="section-head"><i class="icon-document"></i> News</h2>

                <section class="featured-entries">
                {% for post in site.posts limit:1 %}
                    <article class="entry">
                        <h3 class="entry_title">
                        {% if post.external-url %}
                            <a href="{{ post.external-url }}">
                        {% else %}
                            <a href="{{ post.url | remove_first:'/'}}/">
                        {% endif %}
                                {{ post.title }}
                            </a>
                        </h3>
                        {% if post.tagline %}
                        <p class="entry_tagline">{{ post.tagline }}</p>
                        {% endif %}
                        
                        {% if post.excerpt %}
                        <p class="entry_description">{{ post.excerpt | markdownify }}</p>
                        {% endif %}
                        
                        <div class="entry_meta">
                            {% if post.author %}
                            By <span class="author">{{ post.author }}</span> &ndash;
                            {% endif %}

                            {% if post.date %}
                            <time datetime="{{ post.date | date: '%b %d, %Y' }}">
                                {{ post.date | date: '%b %d, %Y' }}
                            </time>
                            {% endif %}
                            
                            {% comment %}
                                {% if post.tags %}
                                <div class="tags cf">
                                    <h4 class="tags_head">Tags:</h4>
                                    <ul class="tag-list">
                                        {% for tag in post.tags %}
                                        <li class="tag">
                                            <a class="tag_link">{{ tag }}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                            {% endcomment %}
                        </div>
<!--                         <a class="entry_read-more-link call-to-action__icon"
                           href="{{ post.url | remove_first:'/'}}/">
                           Read more <i class="icon-right"></i>
                        </a> -->
                    </article>
                {% endfor %}
                </section>

                <section class="sidebar more-articles">
                    <h2 class="sidebar_head">More articles</h2>

                    <ul class="sidebar_list nav-list">
                    {% for post in site.posts limit:3 offset:1 %}
                        <li class="sidebar_list_item">
                            <h3 class="sidebar_list_item_head">
                            {% if post.external-url %}
                                <a href="{{ post.external-url }}">
                            {% else %}
                                <a href="{{ post.url | remove_first:'/' }}/">
                            {% endif %}
                                    {{ post.title }}
                                </a>
                            </h3>

                            <div class="sidebar_list_item_meta entry_meta">
                                {% if post.author %}
                                By <span class="author">{{ post.author }}</span> &ndash;
                                {% endif %}

                                {% if post.date %}
                                <time datetime="{{ post.date | date: '%b %d, %Y' }}">
                                    {{ post.date | date: '%b %d, %Y' }}
                                </time>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                    </ul>

                    <!-- Hide until we have published at least 4 articles -->
                    <!-- <a class="more-articles_read-more-link call-to-action__icon"
                       href="articles/">
                       Read more articles <i class="icon-right"></i>
                    </a> -->
                </section>
            </section>

            <section class="repositories wrap">
                <h2 class="section-head"><i class="icon-github"></i> Highlighted Repositories</h2>

                <section class="repos">
                    <section class="repo">
                        <h3 class="repo_name"><a href="https://github.com/GSA/data.gov">data.gov</a></h3>
                        <p class="repo_description">The CKAN-based data catalog for the federal government.</p>
                    </section>
                    <section class="repo">
                        <h3 class="repo_name"><a href="https://github.com/GSA/sam_api">sam_api</a></h3>
                        <p class="repo_description">API access to the System for Award Management</p>
                    </section>
                    <section class="repo">
                        <h3 class="repo_name"><a href="https://github.com/GSA/unclaimed_money">unclaimed_money</a></h3>
                        <p class="repo_description">US Government unclaimed money metasearch tool.</p>
                    </section>
                </section>

                <section class="sidebar more-repos">
                    <h2 class="sidebar_head">More repositories</h2>
                    <ul class="sidebar_list nav-list">
                        <li class="sidebar_list_item">
                            <h3 class="sidebar_list_item_head">
                                <a href="https://github.com/GSA/openIAE">openIAE</a>
                                <i class="icon-external-link"></i>
                            </h3>
                        </li>
                        <li class="sidebar_list_item">
                            <h3 class="sidebar_list_item_head">
                                <a href="https://github.com/GSA/asis">asis</a>
                                <i class="icon-external-link"></i>
                            </h3>
                        </li>
                        <li class="sidebar_list_item">
                            <h3 class="sidebar_list_item_head">
                                <a href="https://github.com/GSA/govt-urls">govt-urls</a>
                                <i class="icon-external-link"></i>
                            </h3>
                        </li>
                    </ul>
                    <a class="more-repos_view-all-link call-to-action__icon" href="https://github.com/gsa">
                        View all repositories <i class="icon-external-link"></i>
                    </a>
                </section>

            </section>
