        <div class="wrap">

            <section class="footer-links">
                <ul class="footer-links_primary cf">
                    <li>
                        <a href="http://www.gsa.gov/">gsa.gov</a>
                    </li>
                    <li>
                        <a href="http://github.com/gsa">github.com/gsa</a>
                    </li>
                </ul>
                <ul class="footer-links_secondary cf">
                    <li>
                        About
                    </li>
                    <li>
                        Contact us
                    </li>
                    <li>
                        Work here
                    </li>
                </ul>
                <ul class="footer-links_social cf">
                    <li>
                        <a class="icon-fallback-text" href="http://github.com/gsa">
                            <i class="icon icon-github-alt" aria-hidden="true"></i>
                            <span class="text">GitHub</span>
                        </a>
                    </li>
                    <li>
                        <a class="icon-fallback-text" href="http://twitter.com/usgsa">
                            <i class="icon icon-twitter-alt" aria-hidden="true"></i>
                            <span class="text">Twitter</span>
                        </a>
                    </li>
                </ul>
            </section>

            <section class="footer-oss">
                <h4>Open Source</h4>
                <p>
                    As a work of the United States Government, source code released by the GSA is in the public
                    domain by default within the United States.
                </p>
                <!-- <a class="call-to-action__arrow"
                   href="/source-code-policy/">
                    View our full source code policy.
                </a> -->
            </section>

        </div>
