<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{{ site.title }}{% if page.title %} &ndash; {{ page.title }}{% endif %}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% else %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="//fast.fonts.net/cssapi/0a274127-32a9-474a-bbdb-f23f410e88c5.css">
    <link rel="stylesheet" href="{% if page.assetpath %}{{ page.assetpath }}{% endif %}css/site.css">

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} &raquo; Feed" href="/feed/">

<!--[if lt IE 9]>
    <link rel="stylesheet" href="{% if page.assetpath %}{{ page.assetpath }}{% endif %}css/ie8.css">
    <script src="{% if page.assetpath %}{{ page.assetpath }}{% endif %}js/respond.min.js" media="all"></script>
<![endif]-->

    <script src="{% if page.assetpath %}{{ page.assetpath }}{% endif %}js/modernizr-afontgarde.min.js" media="all"></script>
</head>

<body>

    <div class="wrap skip cf">
        <a class="visuallyhidden focusable" href="#content">Skip to Main Content</a>
    </div>

    <header class="header cf" role="banner">
{% include header.html %}
    </header>

    <section id="content" class="content cf">
        <main role="main">
{{ content }}
        </main>
    </section>

    <footer class="footer cf" role="contentinfo">
{% include footer.html %}
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="{% if page.assetpath %}{{ page.assetpath }}{% endif %}js/afontgarde.js"></script>
    <script>
        AFontGarde( 'CFPB_Icons', '\uE600\uE601\uE602\uE605' );
        var consoleText = 'Hey!';
        var consoleCSSBold = 'font-weight: bold';
        var consoleCSSNorm = 'font-weight: normal';

        function apply() {
          console.log('Here we go!');
          window.location.href = 'http://www.gsa.gov/';
        }

        if ( window.console && window.console.log ) {
          console.log(consoleText, consoleCSSBold, consoleCSSNorm);
        }
    </script>
    <!-- <script src="{% if page.assetpath %}{{ page.assetpath }}{% endif %}js/site.js"></script> -->

</body>

</html>
