---
layout: default
assetpath: ../../
---

<div class="content-body wrap">
    <article class="entry entry__single">
        <div class="entry__single_wrap">
            <h1 class="entry_title">{{ page.title }}</h1>
            
            {% if page.tagline %}
            <p class="entry_tagline">{{ page.tagline }}</p>
            {% endif %}
            
            <div class="entry_meta">
                {% if page.author %}
                By <span class="author">{{ page.author }}</span> &ndash;
                {% endif %}

                {% if page.date %}
                <time datetime="{{ page.date | date: '%b %d, %Y' }}">
                    {{ page.date | date: '%b %d, %Y' }}
                </time>
                {% endif %}
            </div>

            {{ content }}

<!--             {% if page.tags %}
                <div class="tags cf">
                    <h4 class="tags_head">Tags:</h4>
                    <ul class="tag-list">
                        {% for tag in page.tags %}
                        <li class="tag">
                            <a class="tag_link">{{ tag }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %} -->

            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'cfpbopentech'; // required: replace example with your forum shortname

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>
                Please enable JavaScript to view the
                <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
            </noscript>
            <a href="http://disqus.com" class="dsq-brlink">
                comments powered by <span class="logo-disqus">Disqus</span>
            </a>

            <p class="comment-policy">
                CFPB Open Tech follows the
                <a href="http://www.consumerfinance.gov/comment-policy">consumerfinance.gov comment policy</a>.
            </p>
        </div>
    </article>

    <section class="sidebar more-articles sidebar__single">
        <div class="sidebar__single_wrap">
            <h2 class="sidebar_head">More articles</h2>

            <ul class="sidebar_list nav-list">
            {% for post in site.posts limit:10 %}
                <li class="sidebar_list_item">
                    <h3 class="sidebar_list_item_head">
                        <a href="../../{{ post.url | remove_first:'/'}}/">
                            {{ post.title }}
                        </a>
                    </h3>

                    <div class="sidebar_list_item_meta entry_meta">
                        {% if post.author %}
                        By <span class="author">{{ post.author }}</span> &ndash;
                        {% endif %}

                        {% if post.date %}
                        <time datetime="{{ post.date | date: '%b %d, %Y' }}">
                            {{ post.date | date: '%b %d, %Y' }}
                        </time>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
            </ul>

            <!-- Hide until we have published at least 4 articles -->
            <!-- <a class="more-articles_read-more-link call-to-action__icon"
               href="../../articles/">
               Read more articles <i class="icon-right"></i>
            </a> -->
        </div>
    </section>
</div>
